/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin-top: 30px;
    text-transform: uppercase;
    &__copy {
        padding: 20px 0;
        border-top: 1px solid #CCC;
        p {
            text-align: center;
            font-size: 1.2rem;
            line-height: 1;
        }
    }
}
/*
------------------------------------------------------------*/
