/*------------------------------------------------------------
layout
------------------------------------------------------------*/
h1 {
    text-align: center;
    width: 1200px;
    font-size: 3rem;
    margin: 40vh auto 20vh;
}
/*
------------------------------------------------------------*/
.l-container {
    width: 1200px;
    margin: 0 auto;
    font-size: 1.6rem;
}
/*
------------------------------------------------------------*/
.p-single,
.p-archive{
    margin: 30px 0;
}