/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title2 {
    border-bottom: 1px solid #333;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
/*
------------------------------------------------------------*/
