/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.c-navi100 {
    border-top: 1px solid #CCC;
    margin-top: 50px;
    padding-top: 30px;
}
/*
------------------------------------------------------------*/
