/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list6 li {
    border-bottom: 1px solid #CCC;
    display: flex;
    padding: 20px 0;
    &:first-child {
        padding-top: 0;
    }
    span {
        display: inline-block;
        width: 7em;
    }
}
/*
------------------------------------------------------------*/
