/*------------------------------------------------------------
top
------------------------------------------------------------*/
nav {
    width: 1200px;
    margin: 0 auto;
    ul {
        display: flex;
        justify-content: space-around;
        background: #000;
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 10px 0;
        font-size: 2rem;
    }
}
/*
------------------------------------------------------------*/
.p-top2 {
    margin-top: 40px;
}